@media only screen and (min-width: 606px) {
    .login_page, .registration_page {
    padding: 2rem 10rem;
}
    .main-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 2rem;
    }
    main h1, #car-info, #car-info h2 {
        grid-column: 1/3;
    }
    #car-info {
        display: grid;
        grid-template-rows: 1fr;
    } #car-info h2, #car-info p {
        grid-column: 1/2;
    } #car-info a {
        grid-column: 1/3;
    }
    
    #car-upgrades {
        grid-column: 1/2;
        grid-row: 3/3;
    }
    
    #car-reviews {
        grid-column: 2/3;
        grid-row: 3/3;
    }
}